div.front{
    height: 711px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)), url('../images/component.png');
    background-position: center;
    display: flex;
    margin: auto;
    // align-items: center;
    // justify-content: center;

    
    .part1 {
        width: 50%;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin: auto;

        img {
            min-height: 107px;
            margin-bottom: 22px;
            align-self: start;
        }

        h1{
            max-width: 426px;
            min-width: 306px;
            width: 80%;
            min-height: 87px;
            font-size: 36px;
            align-self: start;
            color: $text;
        }

        .divider{
            width: 84px;
            min-height: 22px;
            margin-top: 21px;
            align-self: start;
        }

        p {
            max-width: 651px;
            width: 100%;
            min-height: 65px;
            align-self: start;
            color: $text ;
        }

        button {
            width: 135px;
            height: 42px;
            color: $text;
            border-color: $text;
            background: none;
            margin-top: 43px;
            @include Finger();
        }
    
    }

    .part2 {
        
        display: flex;
        margin: auto;
        flex-direction: column;
        
        .box {
            width: 360px;
            height: 424px;
            background: $text;
            margin-top: 147px;
            margin-left: 148px;
            box-shadow: 0px 5px 20px #00000029;
            border-radius: 5px;

            h2 {
                font-size: 20px;
                text-align: center;
                line-height: 57px;
                background: #F5F5F5;
                border-radius: 5px 5px 0 0;

                span {
                    color: orangered;
                }
            }

            h3 {
                font-size: 16px;
                margin: 30px 0 0 51px;
            }

            .input1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                margin-top: 30px;
                color: #D8D8D8;

                input {
                    width: 260px;
                    border: none;
                    border-bottom: 2px solid #D8D8D8;
                    
                    
                }
            }

            p {
                width: 167px;
                height: 19px;
                font-weight: 600;
                margin: 30px 0 0 51px;
            }

            button {
                width: 360px;
                line-height: 57px;
                background: #41D395;
                border: none;
                color: $text;
                font-size: 18px;
                text-align: center;
                margin-top: 70px;
                border-radius: 0 0 5px 5px;
                @include Finger()
            }




         } // box

            
    }
}

@media (max-width: 768px) {
    div.front {
        height: 2000px;
        flex-wrap: wrap;
        background-size: cover;
        
        .part1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            h1 {
                width: 90%;
                text-align: center;
                font-size: 40px;
                margin-bottom: 150px;
                margin-top: 50px;
            }

            .divider{
                display: none;
            }

            p {
                width: 90%;
                text-align: center;
                font-size: 30px;
                line-height: 40px;
            }

            #download {
               margin-top: 550px;
               width: 300px ;
               height: 80px;
               font-size: 30px;
               border-radius: 10px;
            }
           }

        .part2 {
            width: 100%;

            .box {
                width: 100%;
                margin: 0;
                align-self: center;
                margin-bottom: 100px;

                button {
                    width: 100%;
                }
            }
        }
    }
   
}