nav {
    height: 72px;
    width: 100%;
    background: $navcol;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;

    img {
        height: 52.6px;
        align-self: center;
        @include Finger()
    }

    div.a{
        display: flex;
        gap: 50px;
    }

    a{
        text-decoration: none;
        font-size: 18px;
        color: $text;
        text-align: right;
        @include Finger()
    }
}

@media (max-width: 768px) {

    nav {
        position: relative;

        img {
            margin: 0;
            width: 100%;
        }

        div.a{
            width: 0%;
            display: none;
        }
    }
}
    