nav {
    height: 72px;
    width: 100%;
    background: $navcol;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;

    nav.main-nav {
        width: 100%;
    }

    div.a{
        display: flex;
        gap: 60px;
    }

    a{
        position: relative;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        color: $text;
        @include Finger();
        transition: 0.3s;

        img {
            height: 52.6px;
            align-self: center;
            @include Finger()
        }
    }

    .link {
        z-index: 2;
        line-height: 70px;
        transition: 0.3s;
    }

    .link:hover {
    font-weight: 500;
    }

    .link:hover:before {
        opacity: 1;
        height: 3px;
    }
}

.mobile-nav {
    height: 58vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateY(-58%);
    transition: 0.3s;
    z-index: -1;

    .link {
        display: block;
    }

    .link:hover {
        font-weight: 500;
    }
}

#burger {
    display: none;
}

/* js klases */
.transformY {
    transform: translateY(58%);
}

.rotateZ {
    transform: rotateZ(-90deg);
}

.active {
    font-weight: 500;
    border-bottom: 3px solid #E27866;
}


@media (max-width: 768px) {

    nav {

        img {
            margin: 0;
            width: 100%;
        }

        .link {
            display: none;
        }

        #burger {
            display: block;
            justify-self: end;

        }
    }
}
    